/* HEADER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 90px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 70px;

    background: transparent;
    transition: all .4s ease;
    z-index: 1000;
}

/* Activated when scrolling */

header.scrolled{
    background: rgba(27, 73, 101, .93);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    height: 70px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .25);
}

/* LOGO */

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 42px;;
}

.logo h1{
    color: white;
    letter-spacing: 3px;
    font-size: 1.5rem;
}



