

:root{
    --primary:#1B4965;
    --accent:#F4D35E;
    --background:#F0F0F0;
    --text:#333;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box
    font-family:'Courier New', Courier, monospace
}

body{
    background:violet;
    color:var(--text);
    line-height:1.7;
}



header{
    background:var(--primary);
    position:sticky;
    top:0;
    z-index:var(--text);
}

.navbar{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}



.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover,
.nav-links .active{
    color:var(--accent);
}

.hero-content{
    width:70%;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
}



.about{
    padding:70px 10%;
}

.about h2{
    text-align:center;
    color:var(--primary);
    margin-bottom:25px;
    font-size:36px;
}

.about p{
    max-width:900px;
    margin:20px auto;
    text-align:center;
    font-size:18px;
}



.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px 10%;
}

.card{
    background:white;
    width:100%;
    max-width:100%;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:var(--primary);
    margin-bottom:15px;
}

.card p{
    color:#555;
}



footer{
    margin-top:60px;
    background:var(--primary);
    color:white;
    text-align:center;
    padding:20px;
}

.features{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    padding:20px 10%;
}
.feature-box{
    background-color:white;
   max-width:300px;
   text-align:center;
    padding:20px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.4s;
    display:flex;
    flex-direction:column;
    allign-items:center;
}
.feature-box:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}
.feature-box img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
    margin-top:15px;
}
.parent-container{
    display:flex;
    flex-direction:column;
    width:100%;
}
.card{
    width:100%;
}
.parent-container .card{
    display:grid;
    grid-template-columns:1fr;
}
h2{
    text-align:center;
}